<section layout="horizontal" flex ng-controller="gdrive">
    <style>
        div.mce-fullscreen{
            top:50px;
        }
    </style>
    <div style="margin:5px;" flex layout="vertical">
        <md-toolbar md-theme="indigo" style="font-size:xx-large; font-family: 'Nanum Brush Script', serif;
        margin-top:10px; border-radius:15px 15px 0px 0px;">
            <div class="md-toolbar-tools">
                <span class="md-flex">Image Tool</span>
                <span flex></span>

                <md-button class="md-raised md-primary"
                           noink
                           style="background-color: #009688"
                           aria-label="{{authName}}"
                           ng-click="init()">
                    {{authName}}
                </md-button>
                <md-button class="md-raised md-primary"
                           noink
                           style="background-color: #009688"
                           aria-label="{{authName}}"
                           ng-click="setupPicker()"
                           ng-disabled="!isAuth">
                    File Picker
                </md-button>
            </div>
        </md-toolbar>
        <md-content class="md-padding" style="border-radius:0px 0px 15px 15px">
            <!-- <input id="filePicker" ng-disabled="isAuth == false" type="button" value="upload to GDrive" ng-click="setupPicker()"> -->
            You can upload and select from Google Drive
            <pre>Your FolderID: {{rootGdriveFolderID}}</pre>
            <!-- <input type="file" id="filePicker" style="display: none" /> -->
            <p>
            <div class="well" >
                <!-- <pre >{{file}}</pre> -->
                <img ng-repeat="file in files" style="margin-left:15px; margin-bottom: 15px"  select-img my-slider="file" index={{$index}} on-change-status="onChangeStatus()" class="sellerInterfaceItemImg" ng-src="{{ arrive && permalLink + file.id || ''}}">
            </div>
            </p>
        </md-content>

        <md-toolbar md-theme="indigo" style="font-size:xx-large; font-family: 'Nanum Brush Script', serif;
        margin-top:10px; border-radius:15px 15px 0px 0px;">
            <div class="md-toolbar-tools">
                <span class="md-flex">새상품정보입력</span>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-content flex data-ng-controller="AddNewProductController" class="md-padding" style="border-radius:0px 0px 15px 15px" ng-init="getBanners()">
                <div layout="vertical" layout-align="center">
                    <pre>{{parentId}}</pre>
                    <pre>{{selectedBanner}}</pre>
                        <form data-ng-submit="create()" novalidate>
                            <fieldset>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-default">
                                </div>
                                <div data-ng-show="error" class="text-danger">
                                    <h4>{{error}}</h4>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="name">Banner</label>
                                    <select class="form-control" ng-model="selectedBanner" ng-options="banner.name for banner in banners">
                                        <option value="">-- choose color --</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="name">Name</label>
                                    <div class="controls">
                                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="상품이름을 적어주세요" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="mainimg">Main Img</label>
                                    <div class="controls">
                                        <input type="text" data-ng-model="mainimg" id="mainimg" class="form-control" placeholder="Main Img" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="imgs">Images</label>
                                    <div class="controls">
                                        <input type="text" data-ng-model="imgs" id="imgs" class="form-control" placeholder="메인 이미지를 선택하여 주세요" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="price">Price</label>
                                    <div class="controls">
                                        <input type="text" data-ng-model="price" id="price" class="form-control" placeholder="상품가격을 적어주세요" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="description">상품정보</label>
                                    <div class="controls">
                                        <input type="text" data-ng-model="description" id="description" class="form-control" placeholder="간단한 1-2줄의 상품요약" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="description">상품상세정보</label>
                                    <div class="controls">
                                        <textarea data-ui-tinymce id="tinymce1" data-ng-model="detailDesc"></textarea>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
        </md-content>

    </div>


    <!--
    <div layout="vertical" md-theme="light-blue-dark">
        <md-content>
            <form style="padding: 20px;">
                <div class="row">
                    <md-text-float label="Title" ng-model="user.title"></md-text-float>
                    <md-text-float label="eMail" ng-model="user.email" type="email"></md-text-float>
                </div>
            </form>
        </md-content>

        <md-content >
            <form style="padding: 20px;">
                <md-text-float label="Company" ng-model="user.company" disabled> </md-text-float>
                <div class="row">
                    <md-text-float label="FirstName" ng-model="user.firstName"> </md-text-float>
                    <md-text-float label="LastName" ng-model="user.lastName" class="long"> </md-text-float>
                </div>
                <md-text-float label="Address" ng-model="user.address"> </md-text-float>
                <div class="row">
                    <md-text-float label="City" ng-model="user.city"> </md-text-float>
                    <md-text-float label="State" ng-model="user.state"> </md-text-float>
                    <md-text-float label="Postal Code" ng-model="user.postalCode"> </md-text-float>
                </div>
                <md-text-float label="Country" ng-model="user.country" disabled> </md-text-float>
            </form>
        </md-content>
    </div>


    <div ng-controller="BottomSheetExample">
        <p style="padding-left: 20px;">
            Bottom sheet can be dismissed with the service or a swipe down.
        </p>
        <div class="bottom-sheet-demo inset" layout="vertical" layout-sm="horizontal" layout-align="center">
            <md-button class="md-primary" ng-click="showListBottomSheet($event)">
                Show as List
            </md-button>
            <div style="width:50px;"></div>
            <md-button class="md-primary" ng-click="showGridBottomSheet($event)">
                Show as Grid
            </md-button>
        </div>

        <br/>
        <b layout="horizontal" layout-align="center center" layout-padding>
            {{alert}}
        </b>
    </div>

    <md-content>
        <section layout="vertical" layout-sm="horizontal" layout-align="center center">
            <md-button>Button</md-button>
            <md-button noink class="md-primary">Primary (noink)</md-button>
            <md-button disabled class="md-primary">Disabled</md-button>
            <md-button class="md-warn">Warn</md-button>
            <div class="label">flat</div>
        </section>

        <section layout="vertical" layout-sm="horizontal" layout-align="center center">
            <md-button class="md-raised">Button</md-button>
            <md-button class="md-raised md-primary">Primary</md-button>
            <md-button disabled class="md-raised md-primary">Disabled</md-button>
            <md-button class="md-raised md-warn">Warn</md-button>
            <div class="label">raised</div>
        </section>

        <section layout="vertical" layout-sm="horizontal" layout-align="center center">
            <md-button class="md-fab" aria-label="Time">
                <md-icon icon="http://localhost:3000/modules/seller-interface/img/icons/ic_access_time_24px.svg&output=embed" style="width: 24px; height: 24px;"></md-icon>
            </md-button>
            <img ng-src="http://localhost:3000/modules/seller-interface/img/icons/ic_access_time_24px.svg">
            <md-button class="md-fab" aria-label="New document">
                <md-icon icon="http://localhost:3000/modules/seller-interface/img/icons/ic_insert_drive_file_24px.svg" style="width: 24px; height: 24px;"></md-icon>
            </md-button>

            <md-button class="md-fab" disabled arial-label="Comment">
                <md-icon icon="http://localhost:3000/modules/seller-interface/img/icons/ic_comment_24px.svg" style="width: 24px; height: 24px;"></md-icon>
            </md-button>

            <md-button class="md-fab md-primary" md-theme="cyan" aria-label="Profile">
                <md-icon icon="http://localhost:3000/modules/seller-interface/img/icons/ic_people_24px.svg" style="width: 24px; height: 24px;"></md-icon>
            </md-button>
            <div class="label">FAB</div>
        </section>

        <section layout="vertical" layout-sm="horizontal" layout-align="center center">
            <md-button class>Reset</md-button>
            <md-button class>RSVP</md-button>
            <div class="label">Button Group</div>
        </section>

        <section layout="vertical" layout-sm="horizontal" layout-align="center center">
            <md-button class="md-primary" md-theme="green">Button</md-button>
            <md-button class="md-primary md-raised" md-theme="indigo">Button</md-button>
            <md-button class="md-primary md-raised" md-theme="orange">Button</md-button>
            <md-button class="md-primary" md-theme="cyan">Button</md-button>
            <div class="label">Themed</div>
        </section>
    </md-content>

    <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
        Checkbox 1: {{ data.cb1 }}
    </md-checkbox>

    <md-checkbox ng-model="data.cb2" aria-label="Checkbox 2" ng-true-value="'yup'" ng-false-value="'nope'">
        Checkbox 2: {{ data.cb2 }}
    </md-checkbox>
    -->
</section>