<section layout="horizontal" flex ng-controller="HistoryPaymentController" ng-init="getPaymentHistory()">
    <div style="margin:10px;" flex layout="vertical">
        <md-toolbar md-theme="indigo" style="font-size:xx-large; font-family: 'Nanum Brush Script', serif;
        margin-top:10px; border-radius:15px 15px 0px 0px;">
            <div class="md-toolbar-tools">
                <span class="md-flex">Payment History({{payments.length}})</span>
                <span flex></span>
                <md-button class="md-raised md-primary"
                           noink
                           style="background-color: #009688"
                           aria-label="{{authName}}"
                           >
                    Refresh
                </md-button>
            </div>
        </md-toolbar>
        <md-content class="md-padding" style="border-radius:0px 0px 15px 15px">
            <h3>이곳에서 현재까지 판매된 정보를 알 수 있습니다.</h3>
            <pre ng-repeat="payment in payments">
                {{payment}}
            </pre>
        </md-content>
    </div>


    <!--
    <div layout="vertical" md-theme="light-blue-dark">
        <md-content>
            <form style="padding: 20px;">
                <div class="row">
                    <md-text-float label="Title" ng-model="user.title"></md-text-float>
                    <md-text-float label="eMail" ng-model="user.email" type="email"></md-text-float>
                </div>
            </form>
        </md-content>

        <md-content >
            <form style="padding: 20px;">
                <md-text-float label="Company" ng-model="user.company" disabled> </md-text-float>
                <div class="row">
                    <md-text-float label="FirstName" ng-model="user.firstName"> </md-text-float>
                    <md-text-float label="LastName" ng-model="user.lastName" class="long"> </md-text-float>
                </div>
                <md-text-float label="Address" ng-model="user.address"> </md-text-float>
                <div class="row">
                    <md-text-float label="City" ng-model="user.city"> </md-text-float>
                    <md-text-float label="State" ng-model="user.state"> </md-text-float>
                    <md-text-float label="Postal Code" ng-model="user.postalCode"> </md-text-float>
                </div>
                <md-text-float label="Country" ng-model="user.country" disabled> </md-text-float>
            </form>
        </md-content>
    </div>


    <div ng-controller="BottomSheetExample">
        <p style="padding-left: 20px;">
            Bottom sheet can be dismissed with the service or a swipe down.
        </p>
        <div class="bottom-sheet-demo inset" layout="vertical" layout-sm="horizontal" layout-align="center">
            <md-button class="md-primary" ng-click="showListBottomSheet($event)">
                Show as List
            </md-button>
            <div style="width:50px;"></div>
            <md-button class="md-primary" ng-click="showGridBottomSheet($event)">
                Show as Grid
            </md-button>
        </div>

        <br/>
        <b layout="horizontal" layout-align="center center" layout-padding>
            {{alert}}
        </b>
    </div>

    <md-content>
        <section layout="vertical" layout-sm="horizontal" layout-align="center center">
            <md-button>Button</md-button>
            <md-button noink class="md-primary">Primary (noink)</md-button>
            <md-button disabled class="md-primary">Disabled</md-button>
            <md-button class="md-warn">Warn</md-button>
            <div class="label">flat</div>
        </section>

        <section layout="vertical" layout-sm="horizontal" layout-align="center center">
            <md-button class="md-raised">Button</md-button>
            <md-button class="md-raised md-primary">Primary</md-button>
            <md-button disabled class="md-raised md-primary">Disabled</md-button>
            <md-button class="md-raised md-warn">Warn</md-button>
            <div class="label">raised</div>
        </section>

        <section layout="vertical" layout-sm="horizontal" layout-align="center center">
            <md-button class="md-fab" aria-label="Time">
                <md-icon icon="http://localhost:3000/modules/seller-interface/img/icons/ic_access_time_24px.svg&output=embed" style="width: 24px; height: 24px;"></md-icon>
            </md-button>
            <img ng-src="http://localhost:3000/modules/seller-interface/img/icons/ic_access_time_24px.svg">
            <md-button class="md-fab" aria-label="New document">
                <md-icon icon="http://localhost:3000/modules/seller-interface/img/icons/ic_insert_drive_file_24px.svg" style="width: 24px; height: 24px;"></md-icon>
            </md-button>

            <md-button class="md-fab" disabled arial-label="Comment">
                <md-icon icon="http://localhost:3000/modules/seller-interface/img/icons/ic_comment_24px.svg" style="width: 24px; height: 24px;"></md-icon>
            </md-button>

            <md-button class="md-fab md-primary" md-theme="cyan" aria-label="Profile">
                <md-icon icon="http://localhost:3000/modules/seller-interface/img/icons/ic_people_24px.svg" style="width: 24px; height: 24px;"></md-icon>
            </md-button>
            <div class="label">FAB</div>
        </section>

        <section layout="vertical" layout-sm="horizontal" layout-align="center center">
            <md-button class>Reset</md-button>
            <md-button class>RSVP</md-button>
            <div class="label">Button Group</div>
        </section>

        <section layout="vertical" layout-sm="horizontal" layout-align="center center">
            <md-button class="md-primary" md-theme="green">Button</md-button>
            <md-button class="md-primary md-raised" md-theme="indigo">Button</md-button>
            <md-button class="md-primary md-raised" md-theme="orange">Button</md-button>
            <md-button class="md-primary" md-theme="cyan">Button</md-button>
            <div class="label">Themed</div>
        </section>
    </md-content>

    <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
        Checkbox 1: {{ data.cb1 }}
    </md-checkbox>

    <md-checkbox ng-model="data.cb2" aria-label="Checkbox 2" ng-true-value="'yup'" ng-false-value="'nope'">
        Checkbox 2: {{ data.cb2 }}
    </md-checkbox>
    -->
</section>