<div>
    <md-toolbar>
        <h1 class="md-toolbar-tools">
            <a ng-href="/#!/" layout="row" flex="" class="docs-logo">
                <md-icon md-svg-src="modules/openboard/img/pack.svg"
                         class="svg-logotype ng-isolate-scope md-default-theme"
                         style="height:40px;
                                 font-size:40px; margin:0px;"
                         aria-hidden="true">

                </md-icon>
                <div class="docs-logotype">Openboard</div>
            </a>
        </h1>
    </md-toolbar>

    <md-content class="">

        <md-button ng-click="scrollTo('step1')" class="md-primary docs-menu" >
            1. Create a New Account
        </md-button>
        <md-button ng-click="scrollTo('step2')" class="md-primary docs-menu" >
            2. Create a New Class
        </md-button>
        <md-button ng-click="scrollTo('step3')" class="md-primary docs-menu" >
            3. Create an New Assignment
        </md-button>
        <md-button ng-click="scrollTo('step4')" class="md-primary docs-menu" >
            4. Access an Assignment
        </md-button>
        <md-button ng-click="scrollTo('step5')" class="md-primary docs-menu" >
            5. Grade an Assignment
        </md-button>
        <md-button ng-click="scrollTo('step6')" class="md-primary docs-menu" >
            6. Grade Analysis
        </md-button>

    </md-content>
</div>