<section data-ng-controller="SdsumapmainController">
	<div class="sdsuMap_title">Title</div>
	<div class="sdsuMap_leftSideMenu">
		<div>1: Select Building</div>
		<div>2: Select Your Schedule</div>
		<div>3: Login</div>
		<div>4: Local Food</div>
		<div>5: Sell Used</div>
		<div>6: Rent Apartment</div>
		<div>7: Roommate</div>
		<div>8: Happy Hour</div>
		<div>9: Building Events</div>
	</div>
	<div class="sdsuMap_footerMenu">
		<div>Contact</div>
		<div>Developer Info</div>
		<div>Purpose of Web App</div>
		<div>Partner</div>
	</div>
	<ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
</section>
