<section data-ng-controller="MeanHomeController">
	<div style="background-color: #c6c8c8"> Version: 0.0.1</div>
	<div class="meanT-headTitle">
		<strong>Welcome to MEAN Tutorials</strong>
	</div>
	<div class="meanT-headSubTitle">
		<strong>Mean Tutorials</strong> is a team for scripted, high-performance HTML5 technologies that works
		in all major browsers. No other delivers such advanced.
	</div>
	<hr/>

	<!-- Create mac-window-->

	<mac-window info="projects"></mac-window>

	<hr/>

	<mac-window info="announcements"></mac-window>

	<hr/>

	<div class="window mac">
		<div class="title-bar">
			<div class="close"></div>
			<div class="minimize"></div>
			<!--
			<div class="maximize"></div>
			-->
			<div class="zoom"></div>
		</div>
		<div class="page">
			<h2>Timeline of project</h2>
			<div class="outerwrapper">
				<div class="timeline">
					<div class="timeline-header">
						<h3>Projects:</h3>
						<h2><span class="timeline-heading"></span></h2>
						<p class="timeline-standfirst"></p>
					</div>
					<div class="tooltip">
						<p></p>
					</div>
				</div> <!-- timeline -->

				<div class="info-box">
					<div class="panel">
					</div>
				</div>

			</div> <!-- outerwrapper -->
		</div>
	</div>

	<div class="row">
		<div class="widget">
			<div class="cover">
				<img src="http://www.minneapolis.org/sites/default/files/Tours-Attractions-Suggested-Itineraries-Minneapolis.jpg" />
			</div>
			<img src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" class="photo" />
			<h1>Kevin Son</h1>
			<h2>Web Developer</h2>
			<h3>Minneapolis, US</h3>
		</div>

		<div class="widget">
			<div class="cover">
				<img src="http://www.skyscanner.net/sites/default/files/imagecache/news_article/news-images/seoul_0.jpg" />
			</div>
			<img src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" class="photo" />
			<h1>Lechuck Roh</h1>
			<h2>Web Developer</h2>
			<h3>Seoul, S. Korea</h3>
		</div>

		<div class="widget">
			<div class="cover">
				<img src="http://holacoreano.com/data/file/B20/1091230468_khix6BVO_EB8C80ECA084_EC9791EC8AA4ED8FAC.jpg" />
			</div>
			<img src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" class="photo" />
			<h1>장주영</h1>
			<h2>Web Developer</h2>
			<h3>Dae-Jeon, S. Korea</h3>
		</div>

		<div class="widget">
			<div class="cover">
				<img src="http://25.media.tumblr.com/d55a509993790027240311c9f611aaf8/tumblr_n0hpzpKEfE1st5lhmo1_1280.jpg" />
			</div>
			<img src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" class="photo" />
			<h1>누자베스</h1>
			<h2>Web Developer</h2>
			<h3>Bristol, S. Korea</h3>
		</div>

		<div class="widget">
			<div class="cover">
				<img src="http://25.media.tumblr.com/d55a509993790027240311c9f611aaf8/tumblr_n0hpzpKEfE1st5lhmo1_1280.jpg" />
			</div>
			<img src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" class="photo" />
			<h1>Daniel Park</h1>
			<h2>Web Developer</h2>
			<h3>Bristol, S. Korea</h3>
		</div>

		<div class="widget">
			<div class="cover">
				<img src="http://25.media.tumblr.com/d55a509993790027240311c9f611aaf8/tumblr_n0hpzpKEfE1st5lhmo1_1280.jpg" />
			</div>
			<img src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" class="photo" />
			<h1>한성욱</h1>
			<h2>Web Developer</h2>
			<h3>Bristol, S. Korea</h3>
		</div>

		<div class="widget">
			<div class="cover">
				<img src="http://25.media.tumblr.com/d55a509993790027240311c9f611aaf8/tumblr_n0hpzpKEfE1st5lhmo1_280.jpg" />
			</div>
			<img src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" class="photo" />
			<h1>김동훈</h1>
			<h2>Web Developer</h2>
			<h3>Bristol, S. Korea</h3>
		</div>

	</div>
</section>
