<section class="headerEnabled" ng-controller="MeanHomeController" layout="column" layout-fill>

    <style>
        .md-dialog-container {
            z-index:1000;
        }
    </style>

    <div class="meanT-headToolBar">
        <div class="meanT-brandName">
            <a href="/#!/versioning" target="_blank">Version: 0.0.3</a>
            <span style="margin-left:20px;">{{notice}}</span>
        </div>
    </div>

    <md-content layout="column" layout-align="center center">
        <md-content class="meanT-homeFirstRow">
            <div id="floatMenus" style="position:fixed; z-index: 999">
                <!--<md-button ng-click="toggleLeft()" class="md-primary"><b>Menu</b></md-button>-->
                <md-button ng-click="toggleRight()" class="md-primary"><b>My Page</b></md-button>
            </div>

            <div class="meanT-headButtonGroup">
                <cal-date></cal-date>
            </div>

            <div class="meanT-headTitle">
                <strong>{{homeContents.mainTitle}}</strong>
            </div>

            <div class="meanT-headSubTitle" hide-sm>
                <strong>{{homeContents.mainTitle}}</strong> {{homeContents.subTitleText}}<br/><br/>
                <a href="https://docs.google.com/document/d/1Q_CJwJftcL-zabVm0USc1px5HDfbpxu6Klav-XYOzNg/edit?usp=sharing" target="_blank">
                    <img title="Google Doc" class="meanT-googleDocImg" ng-src="modules/mean-tutorials/img/google_docs.png">
                </a>
            </div>
        </md-content>

        <md-content flex class="md-padding">
            <div class="meanT-headSubTitle" show-sm hide-gt-sm>
                <strong>{{homeContents.mainTitle}}</strong> {{homeContents.subTitleText}}<br/><br/>
                <a href="https://docs.google.com/document/d/1Q_CJwJftcL-zabVm0USc1px5HDfbpxu6Klav-XYOzNg/edit?usp=sharing" target="_blank">
                    <img title="Google Doc" class="meanT-googleDocImg" ng-src="modules/mean-tutorials/img/google_docs.png">
                </a>
            </div>

            <!-- Annimation -->
            <div class="meanT-contentTitle">
                <strong>How to use Openboard</strong>
            </div>
            <mj-home-ani></mj-home-ani>

            <hr/>

            <!--<div class="meanT-contentTitle"><strong>Event Calendar</strong></div>-->
            <!--<div class="meanT-headSubTitle">-->
                <!--You can check out our current project.-->
            <!--</div>-->
            <!--<ut-calendar></ut-calendar>-->
            <!--<hr/>-->

            <mac-window info="announcements"></mac-window>
            <!--<hr/><mac-window info="projects"></mac-window>-->
            <!--<hr/><mac-window info="techs"></mac-window>-->

        </md-content>
    </md-content>

    <section layout="row">
        <!--<md-sidenav class="md-sidenav-left md-whiteframe-z2 headerEnabled" md-component-id="left" md-is-locked-open="$media('gt-md')">-->

        <!--
        <md-sidenav class="md-sidenav-left md-whiteframe-z2 headerEnabled" md-component-id="left"
                    style="position:fixed; z-index: 999; top:0">
            <md-toolbar MeanHomeControllerclass="md-theme-indigo">
                <h1 class="md-toolbar-tools">MENU</h1>
            </md-toolbar>
            <md-content class="md-padding" layout="column" layout-align="center start">
                <H3>Kevin S</H3>
                <md-button ui-sref="ads1" ng-click="close()" class="md-primary" hide-gt-md>
                    PORTFOLIO
                </md-button>
                <md-button ui-sref="ads1" ng-click="close()" class="md-primary" hide-gt-md>
                    CV
                </md-button>
                <H3>Ongoing Project</H3>
                </md-button>
                <md-button ui-sref="the-clean" ng-click="close()" class="md-primary">
                    The Clean
                </md-button>
                <md-button ui-sref="top-hair-home" ng-click="close()" class="md-primary">
                    Top Hair Wigs
                </md-button>
                <md-button ui-sref="ads2" ng-click="close()" class="md-primary">
                    E-Learning App
                </md-button>
            </md-content>
        </md-sidenav>
        -->

        <!-- Right Menu-->
        <md-sidenav class="md-sidenav-right md-whiteframe-z2 headerEnabled" md-component-id="right"
                    style="position:fixed; z-index: 999; top:0">
            <md-toolbar class="md-tall md-warn md-hue-5">
                <div class="sidebar-header header-cover"
                     style="background-image: url(http://2.bp.blogspot.com/-2RewSLZUzRg/U-9o6SD4M6I/AAAAAAAADIE/voax99AbRx0/s1600/14%2B-%2B1%2B%281%29.jpg);">
                    <h1 class="md-toolbar-tools">My Page</h1>
                </div>
            </md-toolbar>

            <!-- Authentication Needed -->
            <!--<a href="/auth/google" class="undecorated-link">-->
                <!--<img src="/modules/users/img/buttons/google.png">-->
            <!--</a>-->

            <md-content class="md-padding" layout="column" layout-align="center start">
                <div layout="row">
                <md-button class="md-primary" href="/auth/google" >
                    <md-icon md-svg-src="/modules/mean-tutorials/img/social-google.svg"></md-icon>
                </md-button>
                </div>

                <div layout="row" data-ng-hide="authentication.user">
                    <md-button class="md-primary" ng-click="showSignIn($event)">
                        <md-icon md-svg-src="/modules/mean-tutorials/img/log-in.svg"></md-icon>
                        Sign In
                    </md-button>
                    <!--<span flex></span>-->
                    <md-button class="md-primary" ng-click="showSignUp($event)">
                        <md-icon md-svg-src="/modules/mean-tutorials/img/log-out.svg"></md-icon>
                        Sign Up
                    </md-button>
                </div>

                <md-button ng-disabled="false" ui-sref="profile" class="md-primary">
                    <md-icon md-svg-src="/modules/mean-tutorials/img/android-person.svg"></md-icon>
                    Account
                </md-button>
                <md-button ng-disabled="false" ui-sref="projectview.dashboard" class="md-primary">
                    <md-icon md-svg-src="/modules/mean-tutorials/img/grid.svg"></md-icon>
                    Dashboard
                </md-button>
                <md-button ng-disabled="true" ng-click="close()" class="md-primary">
                    <md-icon md-svg-src="/modules/mean-tutorials/img/briefcase.svg"></md-icon>
                    Projects
                </md-button>
                <md-button ng-disabled="false" ui-sref="d2l-home" class="md-primary">
                    <md-icon md-svg-src="/modules/mean-tutorials/img/easel.svg"></md-icon>
                    Desire 2 Learn
                </md-button>
                <md-button ng-disabled="false" ui-sref="d2l-ins.class" class="md-primary">
                    Instructor (beta)
                </md-button>
                <md-button ng-disabled="false" ui-sref="d2l-stu" class="md-primary">
                    Student (beta)
                </md-button>
            </md-content>
        </md-sidenav>

    </section>
</section>
