<section data-ng-controller="MeanHomeController" layout="column" layout-fill>
    <div class="meanT-headToolBar">
        <div class="meanT-brandName">
            <a href="/#!/versioning" target="_blank">Version: 0.0.2</a>
        </div>
    </div>
    <section layout="row" flex>
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$media('gt-md')">
            <md-toolbar MeanHomeControllerclass="md-theme-indigo">
                <h1 class="md-toolbar-tools">MENU</h1>
            </md-toolbar>
            <md-content class="md-padding" layout="column" layout-align="center start">
                <md-button ng-click="close()" class="md-primary" hide-gt-md>
                    Close MENU
                </md-button>
                <md-button ng-click="close()" class="md-primary">
                    Articles
                </md-button>
                <md-button ng-click="close()" class="md-primary">
                    Activities
                </md-button>
                <md-button ng-click="close()" class="md-primary">
                    Projects
                </md-button>
                <md-button ng-click="close()" class="md-primary">
                    Comments
                </md-button>
                <md-button ng-click="close()" class="md-primary">
                    Inbox
                </md-button>
                <p hide-md show-gt-md>
                    This sidenav is locked open on your device. To go back to the default behavior,
                    narrow your display.
                </p>
            </md-content>
        </md-sidenav>

        <md-content flex class="md-padding">
            <!--
            <button ng-click="loginBtn()">Login Btn</button>
            -->
            <md-button ng-click="toggleLeft()" class="md-primary" hide-gt-md>
                Menu
            </md-button>
            <md-button ng-click="toggleRight()" class="md-primary">
                My Page
            </md-button>



            <div class="meanT-headButtonGroup">
            </div>



            <div class="meanT-headTitle">
                <strong>Welcome to MEAN Tutorials</strong>
            </div>
            <div class="meanT-headSubTitle">
                <strong>Mean Tutorials</strong> is a team for scripted, high-performance HTML5 technologies that works
                in all major browsers. No other delivers such advanced.
                <br/>
                <br/>

                <a href="https://docs.google.com/document/d/1Q_CJwJftcL-zabVm0USc1px5HDfbpxu6Klav-XYOzNg/edit?usp=sharing" target="_blank">
                    <img title="Google Doc" class="meanT-googleDocImg" ng-src="modules/mean-tutorials/img/google_docs.png">
                </a>

            </div>

            <hr/>


            <div class="meanT-contentTitle">
                <strong>What We Are Doing</strong>
            </div>

            <figure>
                <div class="stretchy-wrapper">
                    <div id="ani-title" class="ani-title">Click Play Button</div>
                    <img id='youtubePlayButton'
                         class="meanT-imgCenter"
                         ng-src="modules/mean-tutorials/img/youtubePlay.png"
                         ng-click="clickPlayBtn()" />
                    <div id="ani-techs" class="ani-techs">
                        <img id='meanTotem'
                             class="meanT-hide"
                             ng-src="modules/mean-tutorials/img/mean_totem.png"
                             ng-click="clickPlayBtn()" />
                        <div id="meanTotem-desc" class="meanT-hide ani-rightSideDesc">
                            <br/>
                            <strong>M</strong>ongoDB
                            <br/>
                            <strong>E</strong>xpress
                            <br/>
                            <strong>A</strong>ngularJS
                            <br/>
                            <strong>N</strong>odeJS
                            <br/>
                        </div>
                    </div>
                </div>
            </figure>

            <div layout="row" layout-align="center">
                <md-button class="md-primary" ng-click="clickPlayBtn()">
                    Click Youtube Btn
                </md-button>
                <md-button class="md-primary" ng-click="resetPlayBtn()">
                    Reset Youtube Btn
                </md-button>
            </div>
            <hr/>
            <div class="meanT-contentTitle"><strong>Event Calendar</strong></div>

            <div class="meanT-headSubTitle">
                You can check out our current project.
            </div>
            <div class="container" style="margin-top:20px">
                <table id="calendar" class="meanT-calendar"></table>
            </div>

            <hr/>

            <mac-window info="announcements"></mac-window>

            <hr/>

            <mac-window info="projects"></mac-window>

            <hr/>

            <mac-window info="techs"></mac-window>

        </md-content>

        <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
            <md-toolbar class="md-tall md-warn md-hue-5">
                <div class="sidebar-header header-cover" style="background-image: url(http://2.bp.blogspot.com/-2RewSLZUzRg/U-9o6SD4M6I/AAAAAAAADIE/voax99AbRx0/s1600/14%2B-%2B1%2B%281%29.jpg);">
                    <h1 class="md-toolbar-tools">My Page</h1>
                </div>
            </md-toolbar>
            <!-- Authentication Needed -->
            <md-content class="md-padding" layout="column" layout-align="center start">
                <div layout="row" layout-align="end">
                    <md-button class="md-primary" ng-click="logIn($event)">
                        Log In
                    </md-button>
                    <md-button class="md-primary" ng-click="signUp($event)">
                        Sign Up
                    </md-button>
                </div>

                <md-button ng-click="gotoState('projectview.dashboard')" class="md-primary">
                    Dashboard
                </md-button>

                <md-button ng-disabled="true" ng-click="close()" class="md-primary">
                    Activities
                </md-button>
                <md-button ng-disabled="true" ng-click="close()" class="md-primary">
                    Projects
                </md-button>
                <md-button ng-disabled="true" ng-click="close()" class="md-primary">
                    Comments
                </md-button>
                <md-button ng-disabled="true" ng-click="close()" class="md-primary">
                    Inbox
                </md-button>
            </md-content>
        </md-sidenav>

        <!-- Google Form
            <hr/>

            <br/>
            <a href="https://docs.google.com/forms/d/1HvDi8CBJrPE2m47JEO_jW3-moxjrVzX0nDCTczvvzDo/viewanalytics?usp=form_confirm" target="_blank">결과 보기</a>
            <div class="meanT-googleForm">

                <br/>
                <iframe src="https://docs.google.com/forms/d/1HvDi8CBJrPE2m47JEO_jW3-moxjrVzX0nDCTczvvzDo/viewform?embedded=true" width="760" height="600" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
            </div>
        -->

        </div>
    </section>

</section>
