
    <section id="main" ng-controller="DocsController">
        <br><br><br>
        <div class="core-title">Google Drive Test App</div>
        {{test}}
        <nav>
            <h2>GDrive</h2>
            <button id="authorize-button" class="btn" ng-click="toggleAuth(true)">{{authButtonLabel()}}</button>
            <button class="btn" ng-click="fetchDocs(flase)">Refresh</button>
        </nav>

        <!--
        <progress></progress>
        -->
        <ul>
            <li data-ng-repeat="doc in docs">
                <!-- crbug.com/120693. Anchors need target="_blank", but <base> is taking care of this for us :) -->
                <!--
                <img data-ng-src="{{doc.icon}}">
                -->
                <a href="{{doc.alternateLink}}">{{doc.title}}</a>  {{doc.size}}
                <span class="date">{{doc.updatedDate}}</span>
            </li>
        </ul>
    </section>