<section data-ng-controller="TjMainController">
	<section class="tjHeader">
		<div>About</div>
		<div>Price</div>
		<div>Map</div>
		<div>Review</div>
	</section>

	<section id="topSection" class="tjTopSection">
		<h1>TJ Hair Salon</h1>
		<p>Korean Hair Designer</p>
		<svg id="backGroundSvg" class="svgC" viewBox="0 0 600 600" preserveAspectRatio="xMaxYmax"></svg>
	</section>
	<section class="tjAbout">
		<h1>About TJ Hair</h1>
		<p>Hi, I'm TJ.<br/>
			My work is focused principally on the Hair Deign.</p>
	</section>
	<section class="tjPrice">

		<h1>Service Menu</h1>
		<div class="tjMenu" layout="row" layout-sm="column" layout-align="space-around start">
			<div>

				<svg id="cut"></svg>
				<div class="menuTitle">Cut</div>
				<div class="menuItem">Men(+11yr): $20</div>
				<div class="menuItem">Women(+11yr): $25</div>
				<div class="menuItem">kid(<11yr): $20</div>
			</div>
			<div>

				<svg id="perm"></svg>
				<div class="menuTitle">Perm</div>
				<div class="menuItem">Men(+11yr): $20</div>
				<div class="menuItem">Women(+11yr): $25</div>
				<div class="menuItem">kid(<11yr): $20</div>
			</div>
			<div>
				<svg id="color"></svg>
				<div class="menuTitle">Color</div>
				<div class="menuItem">Men(+11yr): $20</div>
				<div class="menuItem">Women(+11yr): $25</div>
				<div class="menuItem">kid(<11yr): $20</div>
			</div>
			<div>
				<svg id="treatment"></svg>
				<div class="menuTitle">Treatment</div>
				<div class="menuItem">Men(+11yr): $20</div>
				<div class="menuItem">Women(+11yr): $25</div>
				<div class="menuItem">kid(<11yr): $20</div>
			</div>
		</div>
	</section>

	<section class="tjMap">
		<h1>Contact & Location</h1>
		<p>(763) 544-1700</p>
		<p>
			2550 Hillsboro Avenue North, Golden Valley, MN 55427<br/>
		</p>
		<div class="mapContainer">
				<ui-gmap-google-map center='map.center' zoom='map.zoom'>
					<ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
					</ui-gmap-marker>
				</ui-gmap-google-map>
		</div>
	</section>

	<section class="tjFooter">
		<p>Designed By </p>
	</section>
</section>
