<section data-ng-controller="TjMainController">
	<section class="tjHeader">
		<div>About</div>
		<div>Price</div>
		<div>Map</div>
		<div>Review</div>
	</section>

	<section id="topSection" class="tjTopSection">
		<h1>TJ Hair Salon</h1>
		<p>Korean Hair Designer</p>
		<svg id="backGroundSvg" class="svgC" viewBox="0 0 600 600" preserveAspectRatio="xMaxYmax"></svg>
	</section>
	<section class="tjAbout">
		<h1>About TJ Hair</h1>
		<p>Hi, I'm TJ.<br/>
			My work is focused principally on the Hair Deign.</p>
	</section>
	<section class="tjPrice">
		<h1>Menu</h1>
		<p></p>
	</section>

	<section class="tjMap">
		<h1>Location</h1>
		<p>651-111-1111</p>
	</section>
</section>
