<section data-ng-controller="BioinfohomeController">
	<div class="leftPane">
        <div class="paneContent">
            <div class="visualization-control control-button" menuicon-hover>
                <div class="control-dark">
                    <div class="menuIcon">HOME</div>
                    <div class="text">Undo</div>
                </div>
            </div>
            <div class="visualization-control control-button" menuicon-hover>
                <div class="control-dark">
                    <div class="menuIcon">GENE</div>
                    <div class="text">Undo</div>
                </div>
            </div>
            <div class="visualization-control control-button" menuicon-hover>
                <div class="control-dark">
                    <div class="menuIcon">Search</div>
                    <div class="text">Undo</div>
                </div>
            </div>
        </div>
    </div>
    <div class="rightPane">
        <h3>GSBK Table</h3>

        <style>
            path {
                stroke: steelblue;
                stroke-width: 3;
                fill: none;
            }
            line {
                stroke: black;
            }
            .xLabel {
                text-anchor: middle;
            }
            .yLabel {
                text-anchor: end;
            }
            .xGrids {
                stroke: lightgray;
            }
            .yGrids {
                stroke: lightgray;
            }
            text {
                font-family: Verdana;
                font-size: 9pt;
            }
        </style>
        <div id='barG' data-ng-controller="BioD31Controller">D3</div>


        <a href="http://erictheise.github.io/mctad.js/" target="_blank"> Statistics Method Javascript</a><br/>
        <a href="http://www.math.ucla.edu/~tom/distributions/chisq.html" target="_blank">Chi Square</a>
        <a href="http://www.math.ucla.edu/~tom/distributions/CONTENTS.html" target="_blank">Useful Contents</a>
        <div>Total # of Info: {{gsbks.length}}</div>
        <h3>Progress</h3>
        <ul>
            <li>Draw Total number of Index by year</li>
        </ul>

        <div id="graph"></div>

        <!--
        <div class="bio-gsbkInfo" ng-repeat="row in gsbks">
            <div><strong>Species: </strong> {{row.species}}</div>
            <div><strong>Source: </strong> {{row.source}}</div>
            <div><strong>Reg Type: </strong> {{row.regType}}</div>
            <div><strong>Year: </strong> {{row.year}}</div>
            <div class="container">
                <strong>Genes</strong><br/>
                {{row.genes.trim()}}
            </div>
            <div class="container">
                <strong>genesSym</strong><br/>
                {{row.genesSym.trim()}}
            </div>
            <hr/>
        </div>
        -->
    </div>
</section>
