<section class="headerEnabled" data-ng-controller="D2lHomeController">
    <!-- Debuging Purpose Start-->
    <div ng-controller="SizeUtil.sizeOfWidthController" class="size-util-sizeOfWidth">{{width}}px<br/> {{screen}}</div>
    <!-- Debuging Purpose End-->


    <md-toolbar>
        <h2 class="md-toolbar-tools">
            <span><b>LMS App</b></span>
            <span flex></span>
            <span><md-button class="md-warn" ng-click="openMenu=!openMenu">Menu</md-button></span>
            <span ng-if="authentication !== undefined">LogIn required</span>
        </h2>
    </md-toolbar>



    <div ng-show="openMenu" class="gridListdemoDynamicTiles">
        <div ng-controller="gridListDemoCtrl as vm">
            <md-grid-list
                    md-cols-sm="3" md-cols-md="6" md-cols-gt-md="12"
                    md-row-height-gt-md="1:1" md-row-height="4:3"
                    md-gutter="8px" md-gutter-gt-sm="4px" >
                <md-grid-tile ng-repeat="tile in vm.tiles"
                              md-rowspan="{{tile.span.row}}"
                              md-colspan="{{tile.span.col}}"
                              ng-class="tile.background"
                              id="tile.title"
                        >

                    <md-icon md-svg-icon="{{tile.icon}}" ng-click="test($event, tile)"></md-icon>
                    <!--<md-grid-tile-header style="height:20px">-->
                    <!--<h6>This is a header</h6>-->
                    <!--</md-grid-tile-header>-->
                    <md-grid-tile-footer><h3>{{tile.title}}</h3></md-grid-tile-footer>
                </md-grid-tile>
            </md-grid-list>
        </div>
    </div>

    <!--Classes-->
    <md-whiteframe class="md-whiteframe-z1 d2lAuth"
                   layout="row" layout-sm="column" layout-align="space-around center" style="font-size:12px">
        <div style="border-top: 5px solid #b9ff57; padding: 5px;">
            <h3>Classes</h3>
            <table st-table="HWCollection" class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th st-sort="title">Prefix</th>
                        <th st-sort="class">Class Name</th>
                        <th st-sort="dDate">Instructor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="class in classes">
                        <td cs-select="HW"></td>
                        <td>{{class.prefix}}</td>
                        <td>{{class.name}}</td>
                        <td>{{class.user.displayName}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </md-whiteframe>

    <!--List HW-->
    <md-whiteframe class="md-whiteframe-z1 d2lAuth"
                   layout="row" layout-sm="column" layout-align="space-around center">
        <div style="border-top: 5px solid #ff60ad;">
            <h3>List HW</h3>
            <p>Add, Edit, Udpate or Remove Homework</p>
            <table st-table="HWCollection" class="table">
                <thead>
                <tr>
                    <th></th>
                    <th st-sort="title">Title</th>
                    <th st-sort="class">Class</th>
                    <th st-sort="dDate">Due Date</th>
                    <th st-sort="tPoint">Total</th>
                    <th st-sort="tPercent">Total %</th>
                    <th st-sort="dLink">Doc Link</th>
                    <th st-sort="dEdit">Edit</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="HW in hws">
                    <td cs-select="HW"></td>
                    <td>{{HW.title}}</td>
                    <td>{{HW.class.name}}</td>
                    <td>{{HW.dDate |  date : format : timezone}}</td>
                    <td>{{HW.totalGrade}}</td>
                    <td>{{HW.percent}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </md-whiteframe>

    <!--List Grade-->
    <md-whiteframe class="md-whiteframe-z1 d2lAuth"
            layout="row" layout-sm="column" layout-align="space-around center">
        <div style="border-top: 5px solid #ffb738;">
            <h3>List Grade</h3>

            <table st-table="HWCollection" class="table">
                <thead>
                <tr>
                    <th></th>
                    <th st-sort="title">Title</th>
                    <th st-sort="class">Class</th>
                    <th st-sort="class">Name</th>
                    <th st-sort="dDate">Grade</th>
                    <th st-sort="tPoint">First Name</th>
                    <th st-sort="tPoint">Last Name</th>
                    <th st-sort="dLink">Doc Link</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="HW in hws">
                    <td cs-select="HW"></td>
                    <td>{{HW.title}}</td>
                    <td>{{HW.class.name}}</td>
                    <td>{{HW.dDate |  date : format : timezone}}</td>
                    <td>{{HW.totalGrade}}</td>
                    <td>{{HW.percent}}</td>
                    <td>{{HW.percent}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </md-whiteframe>

    <!--Assignments (For Instructor)-->
    <md-whiteframe class="md-whiteframe-z1 d2lAuth" layout="column">
        <!-- {title:'Lecture1', class:'CSC601-2015', publishDate:'1/5', docLink:''}, -->
        <div style="border-top: 5px solid #45b3ff; font-size:10px;">
            <h3>Assignments (For Instructor)</h3>
            <p>
                Add, Edit, Udpate or Remove Class Materials
                <md-button class="md-primary md-raised" ng-click="AddHW()">Add HW</md-button>
                <md-button class="md-primary md-raised" ng-click="AddHW()">Edit HW</md-button>
            </p>
            <table st-table="cmCollection" class="table">
                <thead>
                <tr>
                    <th></th>
                    <th st-sort="title">Title</th>
                    <th st-sort="class">Class</th>
                    <th st-sort="publishDate">Publish Date</th>
                    <th st-sort="publishDate">Due Date</th>
                    <th st-sort="docLink">Doc Link</th>
                    <th st-sort="numSubmit"># Submit</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="CM in cmCollection">
                    <td cs-select="CM"></td>
                    <td>{{CM.title}}</td>
                    <td>{{CM.class | uppercase}}</td>
                    <td>{{CM.publishDate}}</td>
                    <td>{{CM.dDate}}</td>
                    <td>
                        <a ng-href="{{CM.docLink}}" target="_blank">
                            Doc Link
                        </a>
                    </td>
                    <td>20/100</td>
                </tr>
                </tbody>
            </table>
        </div>

    </md-whiteframe>

    <!--Assignments (For Student)-->
    <md-whiteframe class="md-whiteframe-z1 d2lAuth" layout="column">

        <!--<div ng-repeat="doc in docs">-->
            <!--<md-button class="md-warn md-raised" ng-click="getHW(doc)">Get Doc</md-button>-->
            <!--<a href="https://script.google.com/macros/s/AKfycbzoXxZDgzjLOJdqGUGYCWSpIT7n2sHyvnIo2W7E5jmXI_2sryj3/exec?docId=1wqIynYi4EyBRDJCkULTV5-lucN09iRzPeKe8CVt6BAM&user=Kevin1905548"-->
                <!--ng-click="getHW()" onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0');-->
                <!--return false;">Make New File</a>-->
        <!--</div>-->

        <div style="border-top: 5px solid #ff5635; font-size:10px;">
        <h3>Assignments (For Student)</h3>
        <table st-table="rowCollection" class="table">
            <thead>
                <tr>
                    <th></th>
                    <th st-sort="title">Title</th>
                    <th st-sort="class">Class</th>
                    <th st-sort="grade">Grade</th>
                    <th st-sort="gradePercent">%</th>
                    <th st-sort="submit">Submit</th>
                    <th st-sort="late">Late</th>
                    <th st-sort="docLink">Copy to Gdrive</th>
                </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in rowCollection">
                <td cs-select="row"></td>
                <td>{{row.title}}</td>
                <td>{{row.class}}</td>
                <td>{{row.grade}}</td>
                <td>{{row.grade / 100 * 100}}</td>
                <td><md-checkbox ng-model="row.submit" aria-label="Checkbox 1" style="margin:0px; margiin-left:10px;" ng-disabled="true"></md-checkbox></td>
                <td><md-checkbox ng-model="row.submit" aria-label="Checkbox 1" style="margin:0px; margiin-left:10px;" ng-disabled="true"></md-checkbox></td>
                <td><md-button class="md-warn md-raised" ng-click="getHW(row)">Get Doc</md-button></td>
            </tr>
            </tbody>
        </table>
        </div>
    </md-whiteframe>

    <!--Grade Board for Student-->
    <md-whiteframe class="md-whiteframe-z1 d2lAuth" layout="column">
        <div style="border-top: 5px solid #63ff5e;">
            <h3>Grade Board for Student</h3>
            <table st-table="gradeCollection" class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th st-sort="numAssignment">First name</th>
                        <th st-sort="grade">Last name</th>
                        <th st-sort="percent">%</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in gradeCollection">
                        <td cs-select="row"></td>
                        <td>{{row.numAssignment | uppercase}}</td>
                        <td>{{row.grade}}</td>
                        <td>{{row.grade / row.total * 100}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </md-whiteframe>

    <!-- Search Box-->
    <!--<md-content class="md-padding" layout="column" ng-controller="DemoCtrl as ctrl">-->
        <!--<p>Search</p>-->
        <!--<md-autocomplete-->
                <!--md-no-cache="ctrl.noCache"-->
                <!--md-selected-item="ctrl.selectedItem"-->
                <!--md-search-text="ctrl.searchText"-->
                <!--md-items="item in ctrl.querySearch(ctrl.searchText)"-->
                <!--md-item-text="item.display"-->
                <!--placeholder="What is your favorite US state?">-->
            <!--<span md-highlight-text="ctrl.searchText">{{item.display}}</span>-->
        <!--</md-autocomplete>-->
        <!--<br/>-->
        <!--&lt;!&ndash;<md-checkbox ng-model="ctrl.simulateQuery">Simulate query for results?</md-checkbox>&ndash;&gt;-->
        <!--&lt;!&ndash;<md-checkbox ng-model="ctrl.noCache">Disable caching of queries?</md-checkbox>&ndash;&gt;-->
        <!--&lt;!&ndash;<p style="padding-left: 15px;">By default, It will cache results when performing a query.  After the initial call is performed, it will use the cached results to eliminate unnecessary server requests or lookup logic. This can be disabled above.</p>&ndash;&gt;-->
    <!--</md-content>-->




    <md-whiteframe class="md-whiteframe-z1 d2lAuth" layout="column">
        <h3> Class Board </h3>
        <div layout="column" layout-fill>
            <md-whiteframe class="class-board md-whiteframe-z5" layout layout-align="start center">
                <span>New Assignment is updated</span>
            </md-whiteframe>
            <md-whiteframe class="class-board md-whiteframe-z5" layout layout-align="start center">
                <span>New Assignment is updated</span>
            </md-whiteframe>
            <md-whiteframe class="class-board md-whiteframe-z5" layout layout-align="start center">
                <span>Exam is coming SOON</span>
            </md-whiteframe>
        </div>
    </md-whiteframe>

    <md-whiteframe class="md-whiteframe-z1 d2lAuth" layout="column">
        <h3> Important Date </h3>
        <div layout="column" layout-fill>
            <md-whiteframe class="class-board md-whiteframe-z5" layout layout-align="start center">
                <span>2nd Exam 4/21</span>
            </md-whiteframe>
            <md-whiteframe class="class-board md-whiteframe-z5" layout layout-align="start center">
                <span>New Assignment is updated</span>
            </md-whiteframe>
            <md-whiteframe class="class-board md-whiteframe-z5" layout layout-align="start center">
                <span>Exam is coming SOON</span>
            </md-whiteframe>
        </div>
    </md-whiteframe>

    <md-whiteframe class="md-whiteframe-z1 d2lAuth" layout="column">
        <h3> Scheduler </h3>
    </md-whiteframe>

    <h1>Google API List</h1>

    <div class="profile">Profile</div>

    <md-whiteframe class="md-whiteframe-z1 d2lAuth" layout="column">
        Before Accessing this API,<br/>
        you must accept OAuth2 Google API Service
        <md-button class="md-raised md-warn" style="font-size:11px" ng-click="init()">{{authName}}</md-button>
    </md-whiteframe>
    <br/>
    <md-whiteframe class="md-whiteframe-z1 d2lAuth" layout="column">
        Check Google Drive<br/>
        <md-button class="md-raised md-primary" ng-click="listingFolderInfo()">List Forlder</md-button>
        <md-button class="md-primary" ng-click="findFolder()">findFolder Result  <div style="display: inline-flex; border-radius: 50%; background-color:#ffff00; width: 20px; color:red; text-align: center;">{{numFolder}}</div></md-button>
        <md-button class="md-primary" ng-click="hideResult()">Hide Result</md-button>
        <md-button class="md-primary" ng-click="showResult()">Show Result</md-button>
        <div class="listFolder" ng-repeat="doc in gDocs">
            <div ng-if="doc.id!==undefined"><b>ID:</b> {{doc.id}}</div>
            <div ng-if="doc.title!==undefined"><b>TITLE:</b> {{doc.title}}</div>
            <div ng-if="doc.webViewLink!==undefined"><b>Web View Link:</b> {{doc.webViewLink}}</div>
            <div ng-if="doc.webContentLink!==undefined"><b>Web Content Link:</b>
                <a href="{{doc.webContentLink}}" target="_blank">Link</a>
            </div>
            <div ng-if="doc.thumbnailLink!==undefined"><b>Thumbnail Link:</b>
                <a href="{{doc.thumbnailLink}}" target="_blank">Link</a>
            </div>
            <img ng-src="{{doc.thumbnailLink}}"/>
            <hr/>
        </div>
    </md-whiteframe>
    <br/>

    <md-whiteframe class="md-whiteframe-z1 d2lAuth" layout="column">
        Check Your Google+ Account<br/>
        <md-button class="md-raised md-primary" ng-click="plusTest()">Plus Test</md-button>
        <md-checkbox ng-init="gPlusToggle=true" ng-model="gPlusToggle" aria-label="Checkbox 1">Show Result {{ gPlusToggle}}</md-checkbox>
        <div ng-if="gPlusToggle" class="" ng-repeat="gp in gPlus">
            <div>{{$index}}: {{gp.object.content}}</div>
        </div>
    </md-whiteframe>


</section>
