<section data-ng-controller="D2lHomeController">

    <h1>API List</h1>

    <div class="container">
        You can authorize your google account here<br/>
        <md-button class="md-raised md-warn"  ng-click="init()">{{authName}}</md-button>
    </div>
    <hr/>
    <div class="container">
        Check Google Drive<br/>
        <md-button class="md-raised md-primary" ng-click="listingFolderInfo()">List Forlder</md-button>
        <md-button class="md-primary" ng-click="hideResult()">Hide Result</md-button>
        <md-button class="md-primary" ng-click="showResult()">Show Result</md-button>
        <div class="listFolder" ng-repeat="doc in gDocs">
            <div ng-if="doc.id!==undefined"><b>ID:</b> {{doc.id}}</div>
            <div ng-if="doc.title!==undefined"><b>TITLE:</b> {{doc.title}}</div>
            <div ng-if="doc.webViewLink!==undefined"><b>Web View Link:</b> {{doc.webViewLink}}</div>
            <div ng-if="doc.webContentLink!==undefined"><b>Web Content Link:</b>
                <a href="{{doc.webContentLink}}" target="_blank">Link</a>
            </div>
            <div ng-if="doc.thumbnailLink!==undefined"><b>Thumbnail Link:</b>
                <a href="{{doc.thumbnailLink}}" target="_blank">Link</a>
            </div>
            <img ng-src="{{doc.thumbnailLink}}"/>
            <hr/>
        </div>
    </div>
    <hr/>
    <div class="container">
        Check Your Google+ Account<br/>
        <md-button class="md-raised md-primary" ng-click="plusTest()">Plus Test</md-button>
        <div class="" ng-repeat="gp in gPlus">
            <div>{{$index}}: {{gp.object.content}}</div>
        </div>
    </div>
    <hr/>
    <!--<div class="container">-->
        <!--<div style="display:inline-block">-->
            <!--list files-->
            <!--<md-button  class="md-raised md-primary" aria-label="list files" ng-click="listFile()">list files</md-button>-->
        <!--</div>-->
        <!--<br/>-->
        <!--<div style="display:inline-block">-->
            <!--list files-->
            <!--<md-button  class="md-raised md-primary" aria-label="list files" ng-click="listFile()">list files</md-button>-->
        <!--</div>-->
        <!--<br/>-->
        <!--<div style="display:inline-block">-->
            <!--list folder-->
            <!--<md-button  class="md-raised md-primary" aria-label="list files" ng-click="listFile()">list folder</md-button>-->
        <!--</div>-->
        <!--<br/>-->
    <!--</div>-->

    <!--Google Access Trigger-->
    <!--<div ng-controller="GapiCtrlController">-->
    <!--<md-button class="md-raised md-primary" ng-click="googleAccess()">Google Access</md-button>-->
    <!--<div>{{url}}</div>-->
    <!--</div>-->
    <!--Listing Folder Information-->
</section>
