<section data-ng-controller="D2lHomeController">
    <!-- Debuging Purpose Start-->
    <div ng-controller="SizeUtil.sizeOfWidthController" class="size-util-sizeOfWidth">{{width}}px<br/> {{screen}}</div>
    <!-- Debuging Purpose End-->

    <md-toolbar>
        <h2 class="md-toolbar-tools">
            <span><b>Desired 2 Learn</b></span>
            <span flex></span>
            <span ng-if="authentication !== undefined">LogIn required</span>
        </h2>
    </md-toolbar>

    <md-content class="md-padding" layout="column" ng-controller="DemoCtrl as ctrl">
        <p>Search</p>
        <md-autocomplete
                md-no-cache="ctrl.noCache"
                md-selected-item="ctrl.selectedItem"
                md-search-text="ctrl.searchText"
                md-items="item in ctrl.querySearch(ctrl.searchText)"
                md-item-text="item.display"
                placeholder="What is your favorite US state?">
            <span md-highlight-text="ctrl.searchText">{{item.display}}</span>
        </md-autocomplete>
        <br/>
        <md-checkbox ng-model="ctrl.simulateQuery">Simulate query for results?</md-checkbox>
        <md-checkbox ng-model="ctrl.noCache">Disable caching of queries?</md-checkbox>
        <p style="padding-left: 15px;">By default, It will cache results when performing a query.  After the initial call is performed, it will use the cached results to eliminate unnecessary server requests or lookup logic. This can be disabled above.</p>
    </md-content>


    <div class="gridListdemoDynamicTiles">
        <div ng-controller="gridListDemoCtrl as vm">
            <md-grid-list
                    md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6"
                    md-row-height-gt-md="1:1" md-row-height="4:3"
                    md-gutter="8px" md-gutter-gt-sm="4px" >
                <md-grid-tile ng-repeat="tile in vm.tiles"
                              md-rowspan="{{tile.span.row}}"
                              md-colspan="{{tile.span.col}}"
                              ng-class="tile.background"
                        >

                    <md-icon md-svg-icon="{{tile.icon}}" ng-click="test($event)"></md-icon>
                    <!--<md-grid-tile-header style="height:20px">-->
                        <!--<h6>This is a header</h6>-->
                    <!--</md-grid-tile-header>-->
                    <md-grid-tile-footer><h3>{{tile.title}}</h3></md-grid-tile-footer>
                </md-grid-tile>
            </md-grid-list>
        </div>
    </div>

    <h1>Google API List</h1>

    <div class="profile">Profile</div>

    <md-whiteframe class="md-whiteframe-z1 d2lAuth" layout="column">
        Before Accessing this API,<br/>
        you must accept OAuth2 Google API Service
        <md-button class="md-raised md-warn" style="font-size:11px" ng-click="init()">{{authName}}</md-button>
    </md-whiteframe>
    <br/>
    <md-whiteframe class="md-whiteframe-z1 d2lAuth" layout="column">
        Check Google Drive<br/>
        <md-button class="md-raised md-primary" ng-click="listingFolderInfo()">List Forlder</md-button>
        <md-button class="md-primary" ng-click="findFolder()">findFolder Result  <div style="display: inline-flex; border-radius: 50%; background-color:#ffff00; width: 20px; color:red; text-align: center;">{{numFolder}}</div></md-button>
        <md-button class="md-primary" ng-click="hideResult()">Hide Result</md-button>
        <md-button class="md-primary" ng-click="showResult()">Show Result</md-button>
        <div class="listFolder" ng-repeat="doc in gDocs">
            <div ng-if="doc.id!==undefined"><b>ID:</b> {{doc.id}}</div>
            <div ng-if="doc.title!==undefined"><b>TITLE:</b> {{doc.title}}</div>
            <div ng-if="doc.webViewLink!==undefined"><b>Web View Link:</b> {{doc.webViewLink}}</div>
            <div ng-if="doc.webContentLink!==undefined"><b>Web Content Link:</b>
                <a href="{{doc.webContentLink}}" target="_blank">Link</a>
            </div>
            <div ng-if="doc.thumbnailLink!==undefined"><b>Thumbnail Link:</b>
                <a href="{{doc.thumbnailLink}}" target="_blank">Link</a>
            </div>
            <img ng-src="{{doc.thumbnailLink}}"/>
            <hr/>
        </div>
    </md-whiteframe>
    <br/>
    <md-whiteframe class="md-whiteframe-z1 d2lAuth" layout="column">
        Check Your Google+ Account<br/>
        <md-button class="md-raised md-primary" ng-click="plusTest()">Plus Test</md-button>
        <md-checkbox ng-init="gPlusToggle=true" ng-model="gPlusToggle" aria-label="Checkbox 1">Show Result {{ gPlusToggle}}</md-checkbox>
        <div ng-if="gPlusToggle" class="" ng-repeat="gp in gPlus">
            <div>{{$index}}: {{gp.object.content}}</div>
        </div>
    </md-whiteframe>


</section>
