<md-dialog aria-label="Mango (Fruit)">
    <md-toolbar class="md-primary">
        <h1 class="md-toolbar-tools">
            Sign In
        </h1>
    </md-toolbar>
    <md-content>
        <form name="projectForm">
            <md-input-container>
                <label>Username</label>
                <input required name="userid" ng-model="project.userid">
                <div ng-messages="projectForm.userid.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Password</label>
                <input required name="password" ng-model="project.password">
                <div ng-messages="projectForm.password.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
        </form>
    </md-content>
    <div class="md-actions" layout="row">
        <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" hide show-md>
            <H5>Forget ID or Password</H5>
        </md-button>
        <span flex></span>
        <md-button ng-click="answer('not useful')">
            Sign In
        </md-button>
    </div>
</md-dialog>
