
<section data-ng-controller="OpenboardController"
         layout="column" layout-fill
         class="headerEnabled openboard-background">
    <!-- Debuging Purpose Start-->
    <div ng-controller="SizeUtil.sizeOfWidthController" class="size-util-sizeOfWidth">{{width}}px<br/> {{screen}}</div>
    <!-- Debuging Purpose End-->

<style>
    md-backdrop.md-opaque.md-default-theme {
        background-color: rgba(0,0,0,.3);
        height:100%;
    }

</style>

    <button class="docs-menu-icon" style="z-index:1111; position:fixed; right: 15px; top: 8px; width:45px; height:45px" aria-label="Toggle Menu" ng-click="toggleLeft()">
        <md-icon md-svg-src="modules/openboard/img/menu.svg"
                 class="ng-isolate-scope md-default-theme" aria-hidden="true">
        </md-icon>
    </button>

    <!-- Main Content-->
    <md-content layout="column" flex>

        <!-- ToolBar -->
        <md-toolbar id="toolBar">
            <h2 class="md-toolbar-tools">
                <a ng-href="/#!/" layout="row" flex="" class="docs-logo">
                    <md-icon md-svg-src="modules/openboard/img/pack.svg"
                             class="svg-logotype ng-isolate-scope md-default-theme"
                             style="height:40px;
                                 font-size:40px; margin:0px;"
                             aria-hidden="true">
                    </md-icon>
                    <div class="docs-logotype">Openboard</div>
                </a>

                <span class="docs-title">Getting Started:</span>
                <span flex></span>
                <!--<span><md-button class="md-warn" ng-click="openMenu=!openMenu">Menu</md-button></span>-->
                <!--<span ng-if="authentication !== undefined">LogIn required</span>-->
            </h2>
        </md-toolbar>


        <md-content>
            <!--Introduction-->
            <md-whiteframe id="intro"
                           class="md-whiteframe-z2 openboard-card-color"
                           layout="column" layout-align="space-around start">
                <h3 class="docs-title-card">Introduction</h3>
                <!--<div class="ob-underbar"></div>-->
                <div layout="column" layout-fill>
                    <h4>Create amazing assignments</h4>
                    <p>With <b>Openboard</b>, you can assign, submit, and grade wherever you can do.</p>

                    <hr/>
                    <div layout="row" layout-align="space-around start">
                        <div>
                            <h4>Notification</h4>
                            <p style="max-width:250px">Once student submit their assignment from Google Doc, instructor can immediately notify by email</p>
                        </div>

                        <div>
                            <h4>Easy Access</h4>
                            <p style="max-width:250px">Students and instructor don't need to organize files from their computer</p>
                        </div>

                    </div>
                </div>
            </md-whiteframe>

            <!--Create a New Account-->
            <md-whiteframe id="step1"
                           class="md-whiteframe-z2 openboard-card-color"
                           layout="column" layout-align="space-around start">

                <h3 class="docs-title-card">1. Create a New Account </h3>
                <!--<div class="ob-underbar"></div>-->
                <div data-ng-hide="authentication.user">
                    <p>For access to Openboard, you need to create new user account.</p>
                    <div layout="row">
                        <md-button class="md-primary" ng-click="showSignInTutorial($event, 'step2')">
                            <md-icon md-svg-src="/modules/mean-tutorials/img/log-in.svg"></md-icon>
                            Sign In
                        </md-button>
                        <md-button class="md-primary" ng-click="showSignUpTutorial($event)">
                            <md-icon md-svg-src="/modules/mean-tutorials/img/log-out.svg"></md-icon>
                            Sign Up
                        </md-button>
                    </div>
                </div>
                <div data-ng-if="authentication.user !=''">
                    <h4><b>Step 1 is Done</b></h4>
                </div>
            </md-whiteframe>

            <!--Create a New Class-->
            <md-whiteframe id="step2"
                           class="md-whiteframe-z2 openboard-card-color"
                           layout="column" layout-align="space-around start">
                <h3 class="docs-title-card">2. Create a New Class</h3>

                <div data-ng-if="authentication.user!=''">

                    <h4>Step 2.1: Create New Class</h4>

                    <md-button class="md-primary" ng-click="showNewClass($event)">
                            <md-icon md-svg-src="/modules/mean-tutorials/img/log-in.svg"></md-icon>
                        Create New Class
                    </md-button>

                    <div class="md-body-2" style="border-top: 5px solid #ff60ad; padding: 5px; margin-left:auto; margin-right:auto;">
                        <div class="tableTitle">Classes</div>
                        <p hide-sm>Check your registered classes</p>
                        <table st-table="classesCopy" st-safe-src="classes" class="table table-striped">
                            <thead>
                            <tr>
                                <!--<th></th>-->
                                <th st-sort="title">Prefix</th>
                                <th st-sort="class">Class Name</th>
                                <th st-sort="dDate">Instructor</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="CL in classesCopy">
                                <!--<td cs-select="HW"></td>-->
                                <td>{{CL.prefix}}</td>
                                <td>{{CL.name}}</td>
                                <td>{{CL.user.displayName}}</td>
                            </tr>
                            </tbody>
                        </table>

                        <hr/>
                        <h4>Step 2.2: Create Assignment by using a template (Add-On)</h4>
                        <p>
                            Click below button to download Assignment Template File onto your Google Drive
                        </p>

                        <md-button class="md-primary" ng-click="copyHWTemplate('1S1cucFhz96cGRHvXzgGqxuptNR-NgWKpIwI55RB67NU')">
                            <md-icon style="font-size:40px; width:40px; height:40px;" md-svg-src="modules/openboard/img/doc.svg"></md-icon>
                            Copy Assignment Template
                        </md-button>
                    </div>

                </div>
                <div ng-if="authentication.user ==''">
                    You need to sign in First
                </div>
            </md-whiteframe>

            <!--Create an New Assignment-->
            <md-whiteframe id="step3"
                           class="md-whiteframe-z2 openboard-card-color"
                           layout="column" layout-align="space-around start">
                <h3 class="docs-title-card">3. Create a New Assignment</h3>
                <!--<div class="ob-underbar"></div>-->
                <h4>Step 3.1: Check your assignment is uploaded</h4>
                <h4>Step 3.2:</h4>

                <div data-ng-show="authentication.user">
                    <div layout="row">
                        <md-button class="md-primary" ng-click="showNewAssign($event)">
                            <md-icon md-svg-src="/modules/mean-tutorials/img/log-in.svg"></md-icon>
                            Create an Assignment
                        </md-button>
                    </div>
                </div>

            </md-whiteframe>

            <!--Access an Assignment-->
            <md-whiteframe id="step4"
                           class="md-whiteframe-z2 openboard-card-color"
                           layout="column" layout-align="space-around start">
                <h3 class="docs-title-card">4. Access an Assignment</h3>
                <!--<div class="ob-underbar"></div>-->


                <!--<md-button class="md-primary" ng-click="showSetRule()">-->
                    <!--<md-icon md-svg-src="/modules/mean-tutorials/img/log-in.svg"></md-icon>-->
                    <!--Set Role-->
                <!--</md-button>-->

                <div data-ng-if="authentication.user!=''">
                    <h4>Step 4.1: Clik Open Button</h4>
                    <div class="md-body-2" style="border-top: 5px solid #ff60ad; padding: 5px; margin-left:auto; margin-right:auto;">
                        <div class="tableTitle">List HW</div>
                        <p hide-sm>Add, Edit, Udpate or Remove Homework</p>
                        <table st-table="hwsCopy" st-safe-src="hws" class="table table-striped">
                            <thead>
                            <tr>
                                <!--<th></th>-->
                                <th st-sort="title">Title</th>
                                <th>Class</th>
                                <th st-sort="dDate">Due Date</th>
                                <th st-sort="totalGrade" hide-sm>Total</th>
                                <th st-sort="percent" hide-sm>Total %</th>
                                <th>Doc Link</th>
                            </tr>
                            <tr>
                                <th colspan="5"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="HW in hwsCopy">
                                <!--<td cs-select="HW"></td>-->
                                <td>{{HW.title}}</td>
                                <td hide-sm>{{HW.class.name}}</td>
                                <td show-sm hide-gt-sm>{{HW.class.prefix}}</td>
                                <td>{{HW.dDate |  date : format : timezone}}</td>
                                <td>{{HW.totalGrade}}</td>
                                <td hide-sm>{{HW.percent}}</td>
                                <td> <md-button class="md-warn md-raised" style="font-size:0.8em" ng-click="linkHW(HW)">Open</md-button></td>
                            </tr>
                            <tr>
                                <td><b>Total</b></td>
                                <td></td>
                                <td></td>
                                <td>{{totalHwPoints}}</td>
                                <td hide-sm>{{totalPercentages}}</td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <h4>Step 4.2: Open your Google Doc</h4>

                    <h4>Step 4.3: Submit Your HW</h4>
                    <img title="Submit Google Doc" class="img-responsive" ng-src="modules/openboard/img/submitGdoc.gif">
                </div>



            </md-whiteframe>

            <!--Grade an Assignment-->
            <md-whiteframe id="step5"
                           class="md-whiteframe-z2 openboard-card-color"
                           layout="column" layout-align="space-around start">
                <h3 class="docs-title-card">5. Grade an Assignment</h3>
                <div class="ob-underbar"></div>

                <p> Once you submitted an assignment, a notification email will be sent to Instructor's email account. For this tutorial, you are the instructor. Check your email Account.</p>

                <h4>Step 5.1: Check your E-mail Account</h4>

                <h4>Step 5.2.1: Open Submitted Assignment from Link</h4>
                <div class="md-body-2" style="border-top: 5px solid #ee6c0a; padding: 10px;">
                    <div class="tableTitle">Grade Board for Student</div>
                    <p hide-sm>Check your registered classes</p>
                    <table st-table="submittedHWCopy"
                           st-safe-src="submittedHW"
                           class="table table-striped">
                        <thead>
                        <tr>
                            <th></th>
                            <th st-sort="numAssignment">Prefix</th>
                            <th st-sort="grade">Class name</th>
                            <th st-sort="percent">Score</th>
                            <th>Graded</th>
                            <th>Doc Link</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="subm in submittedHWCopy">
                            <td cs-select="subm"></td>
                            <td>{{subm.class.prefix | uppercase}}</td>
                            <td>{{subm.class.name}}</td>
                            <td>200</td>
                            <td></td>
                            <td><md-button></md-button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <h4>Step 5.2.2: Or Open Submitted Assignment from a website</h4>

            </md-whiteframe>

            <!-- List Grade -->
            <!--Grade Board for Student-->
            <md-whiteframe class="md-whiteframe-z2 openboard-card-color" layout="column">
                <div class="md-body-2" style="border-top: 5px solid #ee6c0a; padding: 5px;">
                    <h3 class="docs-title-card">Grade Board for Student</h3>
                    <!--<p hide-sm>Check your registered classes</p>-->
                    <table st-table="gradeCollectionCopy" st-safe-src="submittedHWCopy" class="table table-striped">
                        <thead>
                        <tr>
                            <th></th>
                            <th st-sort="numAssignment">Prefix</th>
                            <th st-sort="grade">Class</th>
                            <th st-sort="grade">Student</th>
                            <th st-sort="percent">Document Link</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in submittedHWCopyCopy">
                            <td cs-select="row"></td>
                            <td>{{row.class.prefix | uppercase}}</td>
                            <td>{{row.class.name}}</td>
                            <td>{{row.user.displayName}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </md-whiteframe>
        </md-content>
    </md-content>

    <section layout="column">
        <md-sidenav id="sideNav" class="openboard-sidenav md-sidenav-left md-whiteframe-z2 ng-isolate-scope md-closed md-locked-open"
                    style="width:254px; position:fixed"
                    md-component-id="left" tabindex="-1">
            <md-toolbar>
                <h1 class="md-toolbar-tools">
                    <a ng-href="/#!/" layout="row" flex="" class="docs-logo">
                        <md-icon md-svg-src="modules/openboard/img/pack.svg"
                                 class="svg-logotype ng-isolate-scope md-default-theme"
                                 style="height:40px;
                                 font-size:40px; margin:0px;"
                                 aria-hidden="true">

                        </md-icon>
                        <div class="docs-logotype">Openboard</div>
                    </a>
                </h1>
            </md-toolbar>

            <md-content class="">

                <md-button ng-click="scrollTo('step1')" class="md-primary docs-menu" >
                    1. Create a New Account
                </md-button>
                <md-button ng-click="scrollTo('step2')" class="md-primary docs-menu" >
                    2. Create a New Class
                </md-button>
                <md-button ng-click="scrollTo('step3')" class="md-primary docs-menu" >
                    3. Create an New Assignment
                </md-button>
                <md-button ng-click="scrollTo('step4')" class="md-primary docs-menu" >
                    4. Access an Assignment
                </md-button>
                <md-button ng-click="scrollTo('step5')" class="md-primary docs-menu" >
                    5. Grade an Assignment
                </md-button>

            </md-content>
        </md-sidenav>
    </section>
</section>
