<section data-ng-controller="Front1Controller">

	<style>
		#svg {
			width:430px;
		}

		.shape {
			fill: none;
			stroke: #60544F;
		}
		.outline,
		.doors {
			fill: #F4EEE6;
			stroke: #60544F;
			stroke-width: 2pt;
		}
		.water {
			fill: #D6EDEE;
			stroke: #60544F;
		}
		.water-cut {
			fill: #B4D6DB;
		}
		.milk {
			fill: #fff;
			stroke: #60544F;
		}
		.milk-cut {
			fill: #F4EEE6;
		}
		.coffee {
			fill: #60544F;
			stroke: #60544F;
		}
		.coffee-cut {
			fill: #60544F;
		}
	</style>
	<div class="first-row">

		<div class="face-font-test">
			<svg id="svg"></svg><br/>
			의리미엄 쇼핑몰에 온것을 환영한다 이기야!
		</div>
	</div>
	<br/>

	<div class="first-row">
		<div class="face face-font"></div>
		<div class="face-font-test">의리미엄 쇼핑몰에 온것을 환영한다 이기야!</div>

		<svg id="map" ng-click="getStart()"></svg>
	</div>

	<div class="second-row">
		<div class="face-font-test">쉽고 한번에 찾아 볼 수있는 의리미엄 컨텐츠</div>

		<svg id="kiwi_svg"></svg>

	</div>

	<div class="third-row">
		<div class="face-font-test">편리하고 안전한 결제</div>
		<div class="face-font-test">모바일 Friendly 인터페이스</div>
		<div class="face-font-test">의리미엄 맛집 정보 검색</div>
	</div>

	<div class="second-row">
		<div class="face-font-test"> 사고 싶어도 광고가 내려가서 찾기 힘들었던 물건들을 한눈에 볼 수 있다 이기야!</div>
	</div>

	<div class="third-row">
		<div class="face-font-test">의리 넘치는 선택된 자만을 위한 최고의 서비스를 보장한다. </div>
		<div class="testFont">testFont</div>
	</div>



	<div disqus="id"></div>


</section>
