<section class="without-container" data-ng-controller="Front1Controller">

	<style>
		#svg {
			width:430px;
		}

		.shape {
			fill: none;
			stroke: #60544F;
		}
		.outline,
		.doors {
			fill: #F4EEE6;
			stroke: #60544F;
			stroke-width: 2pt;
		}
		.water {
			fill: #D6EDEE;
			stroke: #60544F;
		}
		.water-cut {
			fill: #B4D6DB;
		}
		.milk {
			fill: #fff;
			stroke: #60544F;
		}
		.milk-cut {
			fill: #F4EEE6;
		}
		.coffee {
			fill: #60544F;
			stroke: #60544F;
		}
		.coffee-cut {
			fill: #60544F;
		}
	</style>

	<div class="first-row">

		<div class="face-font-test">
			의리미엄 쇼핑몰에 온것을 환영한다 이기야!
		</div>
		<svg version="1.1" id="boxSvg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 800 600" enable-background="new 0 0 800 600" xml:space="preserve">
			<path id="box-lead" fill="#E0D8D3" stroke="#60544F" stroke-width="3" stroke-miterlimit="10" d="M448,105.8L438,196H317l-9-90.2H448z"/>
			<path id="box-lead-target" fill="#CCC1BC" stroke="#60544F" stroke-width="3" stroke-miterlimit="10" d="M476.9,248l-38.4-50h-121L280,248H476.9z"/>
			<rect x="279" y="248" fill="#CCC1BC" stroke="#60544F" stroke-width="3" stroke-miterlimit="10" width="199" height="196"/>
			<rect x="347.5" y="329" fill="none" width="61" height="34"/>
			<text transform="matrix(1 0 0 1 347.5 354.5596)" font-family="'MyriadPro-Regular'" font-size="36">Box</text>
			<polygon fill="#42210B" points="466,243 289.7,243.2 317.4,204.2 438.3,203.8 "/>
			<use id="use" xlink:href="#box-lead" />
		</svg>
	</div>


	<div class="third-row">
		<div class="face-font-test">편리하고 안전한 결제</div>
		<div class="face-font-test">모바일 Friendly 인터페이스</div>
		<div class="face-font-test">의리미엄 맛집 정보 검색</div>
	</div>

	<div class="second-row">
		<div class="face-font-test"> 사고 싶어도 광고가 내려가서 찾기 힘들었던 물건들을 한눈에 볼 수 있다 이기야!</div>
	</div>

	<div class="third-row">
		<div class="face-font-test">의리 넘치는 선택된 자만을 위한 최고의 서비스를 보장한다. </div>
		<div class="testFont">testFont</div>
	</div>

	<hr>
	<div class="content">
		<div class="container">
			<div disqus="id"></div>
		</div>
	</div>


	<!--
	<div class="first-row">

		<div class="face-font-test">
			<svg id="svg"></svg><br/>
			의리미엄 쇼핑몰에 온것을 환영한다 이기야!
		</div>
	</div>
	<br/>
	<div class="first-row">
		<div class="face face-font"></div>
		<div class="face-font-test">의리미엄 쇼핑몰에 온것을 환영한다 이기야!</div>

		<svg id="map" ng-click="getStart()"></svg>
	</div>

	<div class="second-row">
		<div class="face-font-test">쉽고 한번에 찾아 볼 수있는 의리미엄 컨텐츠</div>

		<svg id="kiwi_svg"></svg>

	</div>

	<div class="third-row">
		<div class="face-font-test">편리하고 안전한 결제</div>
		<div class="face-font-test">모바일 Friendly 인터페이스</div>
		<div class="face-font-test">의리미엄 맛집 정보 검색</div>
	</div>

	<div class="second-row">
		<div class="face-font-test"> 사고 싶어도 광고가 내려가서 찾기 힘들었던 물건들을 한눈에 볼 수 있다 이기야!</div>
	</div>

	<div class="third-row">
		<div class="face-font-test">의리 넘치는 선택된 자만을 위한 최고의 서비스를 보장한다. </div>
		<div class="testFont">testFont</div>
	</div>



	<div disqus="id"></div>

-->
</section>
