<div layout="row" layout-sm="column" layout-align="center center" class="">

    <div flex="40" flex-sm="100">
        <md-card>
            <img src="modules/etc/img/1.jpg">
            <md-card-content>
                <div layout="row">
                    <color-picker style="height:100%; width:100%"></color-picker>
                </div>
            </md-card-content>
        </md-card>
    </div>
    <div flex="55" flex-sm="100">
        <div layout="column">
            <md-whiteframe class="md-whiteframe-z2 meanT-home-card ob-underbar-yellow"
                           layout="column" layout-align="space-around start">
                <h3>SENSATIONNEL SYNTHETIC LACE FRONT WIG EMPRESS EDGE L PART CRYSTAL</h3>
            </md-whiteframe>
            <md-whiteframe class="md-whiteframe-z2 meanT-home-card ob-underbar-red"
                           layout="column" layout-align="space-around start">
                <h3>Select Color</h3>
                <color-picker style="height:100%; width:100%"></color-picker>
            </md-whiteframe>
            <md-whiteframe class="md-whiteframe-z2 meanT-home-card ob-underbar-green"
                           layout="column" layout-align="space-around start">
                <h3>Price</h3>
                <div layout="column">
                    <div>Regular Price</div>
                    <div>Top's Price</div>
                    <hr/>
                    <div>Total Price</div>
                </div>

            </md-whiteframe>
        </div>

    </div>
</div>