.meanT-headToolBar {
    background-color: #c6c8c8;
    height:30px;
}

.meanT-headTitle {
    margin: 50px auto; text-align:center; font-size:20px;
}

.meanT-headSubTitle {
    max-width:600px;
    font-size:15px;
    text-align:center;
    margin: 0px auto;
}

.meanT-contentTitle {
    text-align:center; font-size:20px;
}

.meanT-contentAnimation {
    margin:10px auto;
    background-color: black;
    width:600px;
    height:400px;
    min-width:400px;
    min-height:300px;
}

.meanT-headButtonGroup{
    float: right;
    margin-right:20px;
    display:inline-block;
}
