<section data-ng-controller="ThreeController">
    <script src="lib/tremulajs/libs/raf_shim.js"></script>
    <script src="lib/tremulajs/libs/jquery.ba-throttle-debounce.min.js"></script>




    <h1><a href="http://tremulajs.org/">TremulaJS</a></h1>

    <a class="viewOnGithub" href="https://github.com/garris/TremulaJS">
        <span class="ribbonTopRight">View on Github!</span>
    </a>

    <div class="tab">CONFIG IT<span style="font-size: 20px;display: block;line-height: 0.3em;">IF YOU DIG IT</span></div>

    <div class="tremulaContainer main"></div>

    <div class="debug"></div>

    <div class="controls">

        <div class="buttons" >

            <ul class="group main presets"><li class="streamHorizontal">streamHorizontal</li><li class="pinterest">pinterest</li><li class="btnL2">turntable</li><li class="mountain">mountain</li><li class="btnL3">enterTheDragon</li><li class="xy">xyPlain (toggle)</li></ul>

            <ul class="group main">
                <li class="more">Experimental stuff...</li>
            </ul>

            <ul class="group">
                <li class="autoSize">autoSize</li>
                <li class="autoCount">autoCount</li>
                <li class="autoDisable">autoDisable</li>
            </ul>

            <ul class="group">
                <li class="btn1">1 Axis</li>
                <li class="btn2">2 Axes</li>
                <li class="btn3">3 Axes</li>
            </ul>

            <ul class="group">
                <li class="size1">sm size</li>
                <li class="size2">med size</li>
                <li class="size3">lg size</li>
            </ul>

            <ul class="group">
                <li class="margin1">margin sm</li>
                <li class="margin2">margin med</li>
                <li class="margin3">margin lg</li>
            </ul>

            <ul class="group">
                <li class="toggleReflect">toggle reflect</li>
                <li class="toggleItemEase">toggle ease</li>
                <li class="toggleIsLooping">toggle looping</li>
                <!-- <li class="toggleScrollAxis">toggle axis</li> -->
            </ul>

            <ul class="group">
                <li class="headScroll">head scroll</li>
                <li class="tailScroll">tail scroll</li>
            </ul>

            <ul class="group">
                <li class="loadArtDotCom">loadArtDotCom</li>
                <li class="loadFlickr">loadFlickr</li>
                <li class="toggleRefreshData">toggle refresh</li>
            </ul>


            <ul class="group">
                <li class="showCtrlData">showCtrlData</li>
            </ul>


        </div>

    </div>
</section>
