<section data-ng-controller="JarvisController">
	<div id='frontLogo' ng-style="style()" style="background-color: palevioletred" resize>

		<div style="position: absolute; top:23px; right: 10px; z-index:999;">
			window.height: {{windowHeight}}<br />
			window.width: {{windowWidth}}<br />
		</div>

		<div style="color:white">SVG Animation Portfolio</div>

		<div id="nSelect" class="frontNav">
			<div class="jarvis_title">오타쿠의 1155km 일본 자전거 여행기</div>
			<div class="frontNavBtn" ng-click="start()">START</div>
		</div>

		<div id="backGroundSvgDiv" style="position:relative; overflow-x:hidden;">
			<svg id="backGroundSvg" height="500px" viewBox="0 0 2562 500" preserveAspectRatio="xMaxYmax"></svg>
		</div>

		<!--
		<div id="nSelect2" class="frontNav" style="display:none">
			<div class="storyCloseBtn">X</div>
			<div class="jarvis_title">여행기 날짜별</div>

			<div id="storyMenu" class="storyMenu" style="display:none;">
				<span ng-repeat="story in stories" class="storyBtn"  ng-click="mapLoad()">{{story.num}}</span>
			</div>

			<svg id="progressStory" style="display:none; max-width:620px;"></svg>
			<svg id="mainStory" style="display:none; max-width:620px;"></svg>
			<div id="progressStoryName" style="display:none;" class="storyDescription">
				{{targetDescription.name}}
				<div class="storyStart" ng-click="startStory(targetDescription.num)">시작하기</div>
			</div>

			<div id="storyController" style="display:none;">
				<div class="storyStart" ng-click="nextStory(crntPage, targetDescription.totalNum)">Next</div>
			</div>
		</div>
		-->

		<div id="smallMap" style="width:280px; height:62px; margin-left:20px">
			<div class="jarvis_title">오타쿠의 1155km 일본 자전거 여행기</div>
			<svg id="smallMapSvg" width="100%" height="100%"  viewBox="0 0 2562 500" preserveAspectRatio="xMaxYmax"></svg>
		</div>
		<hr/>

		<div class="jarvis_title">Object Controller</div>
		<div style="display:block">
			<div style="margin-left:10px; padding:10px; background-color:#faf2cc; border-radius: 10px; display:inline-block;">
				<div class="jarvis_title" style="color:#ec971f">Circle Pin Object</div>
				<div style="margin-left:10px; ">
					<md-text-float label="ID" ng-model="position.id"> </md-text-float>
					<md-text-float label="X" ng-model="position.x"> </md-text-float>
					<md-text-float label="Y" ng-model="position.y" class="long"> </md-text-float>
				</div>
				<md-button class="md-raised md-primary" ng-click="addCirclePin('backGroundSvg', position)">Add Circle Pin</md-button>
			</div>
			<div style="margin-left:10px; padding:10px; background-color:#faf2cc; border-radius: 10px; display:inline-block;">
				<div class="jarvis_title" style="color:#ec971f">Pin Object</div>
				<div style="margin-left:10px; ">
					<md-text-float label="ID" ng-model="position.id"> </md-text-float>
					<md-text-float label="X" ng-model="position.x"> </md-text-float>
					<md-text-float label="Y" ng-model="position.y" class="long"> </md-text-float>
				</div>
				<md-button class="md-raised md-primary" ng-click="addPin('backGroundSvg', position)">Add Pin</md-button>
			</div>
			<div style="margin-left:10px; padding:10px; background-color:#faf2cc; border-radius: 10px; display:inline-block;">
				<div class="jarvis_title" style="color:#ec971f">Pin Object</div>
				<div style="margin-left:10px; ">
					<md-text-float label="ID" ng-model="position.id"> </md-text-float>
					<md-text-float label="X" ng-model="position.x"> </md-text-float>
					<md-text-float label="Y" ng-model="position.y" class="long"> </md-text-float>
				</div>
				<md-button class="md-raised md-primary" ng-click="addAvatar('backGroundSvg', position)">Add Avatar</md-button>
			</div>
			<div style="margin-left:10px; padding:10px; background-color:#faf2cc; border-radius: 10px; display:inline-block;">
				<div class="jarvis_title" style="color:#ec971f">Added Object</div>
				<div style="margin-left:10px; ">
					<div ng-repeat="a1 in addedObject">
						{{a1}}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
