<section data-ng-controller="SpecHomeController">
	<md-toolbar md-theme="indigo">
		<div class="md-toolbar-tools">
			<span class="md-flex"><b>Kevin S</b></span>
			<span flex></span>
			<md-button class="md-raised md-warn" ng-click="replay()">
				Resume
			</md-button>
		</div>
	</md-toolbar>
	<md-content class="md-padding " style="height: 100%; overflow:hidden">
		<div style="font-size:45px; line-height: 120px; font-family: font1; text-align: center">
			Kevin S<span style="font-size:15px"> beta</span>
		</div>

		<div style="font-size:25px; line-height: 35px; font-family: font1; text-align: center">
			Seeking the state of art for technology<br>
			Pursuing of efficient methodologies <br/>
		</div>

		<div layout="row" layout-margin>
			<div  style="background-color: thistle" flex="5" flex-order="3"></div>
			<div  flex="76" flex-order="2">
				<div class="wrapper">
					<div class="main">
					</div>
					<!--
					<md-button class="md-fab md-warn" aria-label="Time" ng-click="replay()">
						<md-icon icon="modules/spec-view/img/ic_undo_24px.svg" style="width: 24px; height: 24px;"></md-icon>
					</md-button>
					-->
				</div>
			</div>
			<div  style="background-color: goldenrod"flex="5" flex-order="1"></div>
		</div>
		<hr/>

		<div layout="row" layout-sm="column" layout-margin>
			<md-button flex class="md-raised md-warn" ng-click="clickEducationTimeLine()">
				Education Timeline
			</md-button>
			<md-button flex class="md-raised md-warn" ng-click="clickCarrierTimeLine()">
				Carrier Timeline
			</md-button>
			<md-button flex class="md-raised md-warn" ng-click="clickCarrierTimeLine()">
				Personal Project
			</md-button>
		</div>

		<div class="work_subtitle">Literature</div>
			<div class="work_detail"> JavaScript </div>
			<div class="work_detail"> C </div>

		<div class="work_subtitle">Education Timeline</div>
			<div class="work_detail"> Bachelor of Engineering Computer Science </div>
			<div class="work_detail"> Master of Engineering Computer Science </div>

		<div class="work_subtitle">Carrier Timeline</div>
			<div class="work_detail"> Web Developer Intern </div>
			<div class="work_detail"> Research Assistant </div>
			<div class="work_detail"> Teaching Assistant </div>
			<div class="work_detail"> Software Engineer </div>

		<div class="work_subtitle"> Project Timeline</div>
			<div class="work_detail">CMS-Drupal</div>
			<div class="work_detail">MEAN Stack Project</div>
			<div class="work_detail">Smart Grid Web Application</div>

		<div class="work_subtitle">Tech Scope</div>
			<div class="work_detail">JavaScript</div>
			<div class="work_detail">CSS</div>
			<div class="work_detail">NodeJS</div>
			<div class="work_detail">Express</div>
			<div class="work_detail">AngularJS</div>
			<div class="work_detail">MongoDB</div>

		<div layout="row" layout-sm="column">
			<md-whiteframe flex class="md-whiteframe-z2 work_card" layout layout-align="center center">
				<span>SVG Animation</span>
			</md-whiteframe>
			<md-whiteframe flex class="md-whiteframe-z2 work_card" layout layout-align="center center">
				<span>GSAP</span>
			</md-whiteframe>
			<md-whiteframe flex class="md-whiteframe-z2 work_card" layout layout-align="center center">
				<span>SNAP</span>
			</md-whiteframe>
		</div>

		<div layout="row" layout-sm="column">
			<md-whiteframe flex class="md-whiteframe-z2 work_card" layout layout-align="center center">
				<span>AngularJS</span>
			</md-whiteframe>
			<md-whiteframe flex class="md-whiteframe-z2 work_card" layout layout-align="center center">
				<span>MongoDB</span>
			</md-whiteframe>
			<md-whiteframe flex class="md-whiteframe-z2 work_card" layout layout-align="center center">
				<span>Mongoose</span>
			</md-whiteframe>
		</div>
		<div layout="row" layout-sm="column">
			<md-whiteframe flex class="md-whiteframe-z2 work_card" layout layout-align="center center">
				<span>Express</span>
			</md-whiteframe>
			<md-whiteframe flex class="md-whiteframe-z2 work_card" layout layout-align="center center">
				<span>NodeJS</span>
			</md-whiteframe>
			<md-whiteframe flex class="md-whiteframe-z2 work_card" layout layout-align="center center">
				<span>Modular Based Development</span>
			</md-whiteframe>
		</div>

		<hr/>
		<div style="visibility:hidden"
			 class="inst" on-finish-render ng-repeat="inst in insts">
			<div class="inst_desc">{{inst.desc}}</div>
		</div>
		<hr/>
	</md-content>

</section>
