<section data-ng-controller="EtcController">
	<div ng-controller="SizeUtil.sizeOfWidthController" class="size-util-sizeOfWidth">{{width}}px<br/> {{screen}}</div>

	<h3></h3>
	<md-whiteframe class="md-whiteframe-z2 meanT-home-card ob-underbar-base"
				   layout="column" layout-align="space-around start">
		<!--<h3>Product Info</h3>-->
		<product-detail style="width:100%;"></product-detail>

	</md-whiteframe>

	<!--<md-whiteframe class="md-whiteframe-z2 meanT-home-card ob-underbar-base"-->
				   <!--layout="column" layout-align="space-around start">-->
		<!--<h3>Color Picker(Directive)</h3>-->
		<!--<color-picker style="height:100%; width:100%"></color-picker>-->
	<!--</md-whiteframe>-->


    <md-whiteframe class="md-whiteframe-z2 meanT-home-card ob-underbar-base"
                   layout="column" layout-align="space-around start">
        <h3>Image List</h3>
        <gallery style="width:100%"></gallery>
    </md-whiteframe>



</section>